
/ summary.expand-container
/   .col-xs-6
/     h4 Summary
/   .col-xs-6
/     .pull-right
/       i.fa.fa-plus
/       i.fa.fa-minus
/   ng-form.content.col-xs-12
/     .form-group
/       label Sales forecast:
/       input.form-control type='text' ng-model='salesForecast'
/     .form-group
/       label Percentage of sales for budget:
/       input.form-control type='text' ng-model='budgetPercentage'
/     .form-group
/       label Wage budget:
/       p
/         | {{wageBudget}}
/     .form-group
/       label Current estimation:
/       p
/         | {{wageEstimation}}