@import colors
#week-view
  padding: 30px
  width: 100%
  height: 100%
  background: lighten(lightgrey, 15)

  div[class^="col-xs"]
    height: 100%

  .fa-angle-double-left
    margin-right: 20px
  .fa-angle-double-right
    margin-left: 20px

  .fa-angle-double-right, .fa-angle-double-left
    &:hover
      cursor: pointer

  .col-xs-12.main-box
    background: white
    min-height: 700px

    h3, summary
      margin-left: 10px

    summary
      overflow: hidden
      border: 2px solid lightgrey
      border-radius: 3px
      padding-left: 10px
      margin-bottom: 20px
      .row
        margin-bottom: 10px
        label
          padding-top: 10px

      i
        font-size: 18px
        margin-top: 10px
        margin-right: 20px
        &:hover
          cursor: pointer

        &.fa-plus
          display: none
          &:hover
            color: $level-2-color
        &.fa-minus
          &:hover
            color: $level-1-color
      .content
        text-align: left


    .col-xs-6
      button
        margin: 20px 3px
        &:last-of-type
          margin-right: 10px
        i
          font-size: 15px

    table
      width: 99%
      margin: 10px auto
      border: 2px solid lightgrey
      thead
        background: lighten(lightgrey, 10)
        th:not(:first-of-type)
          text-align: center
        th
          font-size: 16px
          border-bottom: 1px solid lighten(lightgrey, 5)
          border-right: 1px solid lighten(lightgrey, 5)
          small
            font-weight: normal
      tbody
        .employee-name
          z-index: 101
          padding-left: 10px
          font-size: 17px
          i
            font-size: 17px
          .employee-hours, .employee-cost
            margin: 0px 10px 0px 3px
            display: inline-block

        tr
          td:first-of-type
            width: 250px !important
            small
              font-weight: normal
          td
            padding: 5px
            border-right: 1px solid lighten(lightgrey, 5)
          td
            width: 11% !important
            overflow: hidden
          td:not(:first-of-type)

            text-align: center

        tr:last-of-type
          td
            padding: 0px !important
          &:hover
            cursor: pointer
          .bottom-controls
            text-align: center
            font-size: 25px
            color: white
            height: 50px
            i
              line-height: 50px
            &.rubbish-td
              width: 99%
              background: lighten($level-1-color, 10%)
              &:hover
                background: lighten($level-1-color, 20%) !important

            &.plus-td
              width: 100%
              display: inline-block
              background: lighten($level-2-color, 10%)
              &:hover
                background: lighten($level-2-color, 20%)

      .mark
        background: white


  .shift-bar
    z-index: 10
    display: inline-block
    margin-top: 3px
    background: transparent
    color: black
    text-align: center
    position: relative
    cursor: grab !important
    border-radius: 4px
    opacity: 0.9

    &:active
      cursor: grabbing

    span
      display: block
      top: 50%
      left: 50%
      position: absolute
      transform: translate(-50%, -50%)
      -webkit-font-smoothing: antialiased
      text-shadow: rgba(0,0,0,.01) 0 0 1px
      font-size: 14px
      font-weight: 500
      width: 100%

    &.selected
      opacity: 1
      // -webkit-box-shadow: -1px 3px 3px 4px rgba(0,0,0,0.2)
      // -moz-box-shadow: -1px 3px 3px 4px rgba(0,0,0,0.2)
      // box-shadow: -1px 3px 3px 4px rgba(0,0,0,0.2)

  .popup
    overflow: scroll
    z-index: 1000
    position: absolute
    background: lighten(whitesmoke, 1)
    width: 40%
    min-width: 400px
    border: 2px solid lighten(darkgrey, 20)
    padding: 10px 30px 10px 30px
    border-radius: 3px
    top: 40%
    left: 40%
    h3
      margin-top: 10px

    &:active
      cursor: grabbing !important

    &:hover:not(input)
      cursor: grab

    i
      font-size: 17px
      &:hover
        cursor: pointer
      &.fa-minus
        &:hover
          color: $level-5-color
      &.fa-plus
        display: none
        &:hover
          color: $level-2-color
      &.fa-close
        margin-left: 20px
        &:hover
          color: $level-1-color
    .form
      label
        margin-top: 10px

      button
        margin-top: 10px
        &:first-of-type
          margin-top: 20px
        &:not(:first-of-type)
          margin-bottom: 10px
        &.btn.btn-primary
          background-color: lighten($level-5-color, 15)
          border-color: lighten($level-5-color, 15)
          &:hover
            cursor: default