#week-view
  td
    width: 11%
    overflow: hidden
    .sortable
      min-height: 50px
      .ui-state-highlight
        min-height: 50px
      .shift-bar
        padding-top: 0px
        span
          font-size: 15px !important


  // #drag
    
  // .drag
  //   cursor: move
  //   margin: auto
  //   z-index: 10
  //   background-color: white
  //   text-align: center
  //   font-size: 10pt /* needed for cloned object */
  //   opacity: 0.7
  //   filter: alpha(opacity=70)
  //   /* without width, IE6/7 will not apply filter/opacity to the element ?! */
  //   /* IE needs element layout */
  //   width: 82px
  //   height: 25px
  //   line-height: 25px
  //   /* round corners */
  //   border-radius: 4px /* Opera, Chrome */
  //   -moz-border-radius: 4px /* FF */


  // div#drag table
  //   background-color: #eee
  //   border-collapse: collapse
  //   margin: auto

  // div#drag td
  //   height: 32px
  //   border: 1px solid white
  //   text-align: center
  //   font-size: 10pt
  //   padding: 2px

  // .green 
  //   border: 2px solid #499B33

  // .orange 
  //   border: 2px solid #BF6A30

  // .blank 
  //   background-color: white

  // .green_cell
  //   background-color: #AFD0A7

  // .orange_cell
  //   background-color: #DDC5B5

  // #message
  //   color: white
  //   background-color: #aaa

  // .dark
  //   background-color: #e0e0e0

